[submodule "Source/Lib1"]
	path = Source/Lib1
	url = //SERVER1/share/PROCESS/Training/SoftwareQuizes/git/Lib1
[submodule "Source/Serial_LIB"]
	path = Source/Serial_LIB
	url = git@github.com:ArxtronTech/Serial_LIB.git
